$font-primary: "Helvetica", sans-serif;

$white: #fff;
$black: #323232;

$gray: #f0f0f0;
$light-gray: #fafafa;
$dark-gray: #757575;

$green: #21c69e;
$light-green: #e5f8f4;

$blue: #30a2d7;
$light-blue: #e5f4f9;

$red: #f46179;
$light-red: #fcecf0;

$yellow: #feb51c;
$light-yellow: #fff7e8;